<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362574489959-b7mh82hnfk07288ec0knk1oarjlalp81.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362574489959-b7mh82hnfk07288ec0knk1oarjlalp81</string>
	<key>API_KEY</key>
	<string>AIzaSyDd16si5J39V8bkt9F2bG12v73Akpr-em8</string>
	<key>GCM_SENDER_ID</key>
	<string>362574489959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.co.rickbrown.dog-gram</string>
	<key>PROJECT_ID</key>
	<string>doggram-3af8c</string>
	<key>STORAGE_BUCKET</key>
	<string>doggram-3af8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362574489959:ios:2778d62f053beaf98067c2</string>
</dict>
</plist>